<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Sugar bubble</title>
    <link rel="stylesheet" href="{% static 'cake.css'%}">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <script src="https://kit.fontawesome.com/a4e79bafb4.js" crossorigin="anonymous"></script>
    <link
        href="https://api.fontshare.com/v2/css?f[]=bonny@700,300,500,400,100&f[]=montserrat@500,700,701,801,200,401,301,400,601,100,101,201,800,300,600,501&display=swap"
        rel="stylesheet">
    <link
        href="https://api.fontshare.com/v2/css?f[]=montserrat@500,900,700,701,801,200,401,301,400,601,100,101,201,800,300,600,901,501&display=swap"
        rel="stylesheet">
</head>
<body>
    <header class="flex head-sec container">
        <div class="bars">
            <a href="#" id="mobilemenu-2"><i class="fa-solid fa-bars"></i></a>
         </div>
        <div>
            <h1 class="brand"><a href="{% url 'index'%}">Sugar Bubble</a></h1>
        </div>
        <nav id="rm-nav">
            <div class="nav-menu">
                <ul class="flex">
                    <li><a href="#" id="nu">MENU</a></li>
                    <li><a href="#">CUSTOM CAKE</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <div id="open" class="close">
                    <li><a href="/cake/">Cakes</a></li>
                    <li><a href="#">Muffins</a></li>
                    <li><a href="#">Cup Cake</a></li>
                    <li><a href="#">Popscile</a></li>
                </div>
            </div>
        </nav>
        <div class="cntct-icon">
            <a href="#"><img src="{% static 'media/Vector.png'%}" alt=""></a>
            <a href="#"><img src="{% static 'media/fb.png'%}" alt=""></a>
        </div>
    </header>
    <div class="hidden-box" id="hidden-div">
        <div class="hidden-menu">
            <h1>MENU</h1>
        </div>
        <div class="hidden-list">
            <ul>
                <li><a href="/cake/">Cakes</a></li>
                <li><a href="#">Muffins</a></li>
                <li><a href="#">CupCakes</a></li>
                <li><a href="#">Popsicle</a></li>
            </ul>
        </div>
        <div class="hidden-close">
            <i id="mmm" class="fa-regular fa-circle-xmark"></i>
        </div>
        <div >
            <div class="pop-1">
                <h4 class="pop-h">Follow us on</h4>
            </div>
            <div class="pop-c">
                <a href="#"><img src="{% static 'media/Vector.png'%}" alt=""></a>
                <a href="#"><img src="{% static 'media/fb.png'%}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="fil ">
        <div class="f-1">
            <div class="c-f">
                <h4 >Cake</h4>
                <div>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="f-f" id="filterby">
                <div>
                    <i id="fils" class="fa-solid fa-filter"></i>
                </div>
                <h4 id="filter-by"> Filter</h4>
            </div>
        </div>

        <div id="fps" class="filt-op" >
            <div class="cls">
                <i id="ccc" class="fa-regular fa-circle-xmark"></i>
            </div>
            <div class="oop">
                    <h4 class="flt-price">FILTER BY PRICE</h4>
                    <div class="lines">
                        <div class="line1">
                        </div>
                        <div class="line2">
                        </div>
                    </div>
                
                    <div class="flex price-range">
                    <h3 class="money-rate">Price:</h3>
                    <div>
                        <p class="money-range">₹80 ~ ₹2000</p>
                    </div>
                    </div>
                    <div class="flex chk-1">
                    <div class="inp-chk">
                        <input type="checkbox">
                    </div>
                    <h3 class="stock">In stock</h3>
            </div>
        </div>
    </div>
    </div>
    <div class="container flex many-pic">
        <div class="rm-div">
            <div class="flex popu-div ">
                <h4 class="popu">Sort By Popularity</h4>
                <div>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>
            <hr>
            <div>
                <h4 class="cat">Category</h4>
            </div>
            <div class="flex srt-cake">
                <h4 class="srt-ck">Cake</h4>
                <div class="arw-2">
                    <i id="do" class="fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="cake-dwn" id="cw">
                <li><a href="#">Butterscotch</a></li>
                <li><a href="#">Chocolate</a></li>
                <li><a href="#">Red Velvet</a></li>
                <li><a href="#">Nutty Bubble</a></li>
            </div>
            <hr>
            <div>
                <h4 class="flt-price">FILTER BY PRICE</h4>
                <div>
                    <div class="line1">
                    </div>
                    <div class="line2">
                    </div>
                </div>
            </div>
            <div class="flex price-range">
                <h3 class="money-rate">Price:</h3>
                <div>
                    <p class="money-range">₹80 ~ ₹2000</p>
                </div>
            </div>
            <div class="flex chk-1">
                <div class="inp-chk">
                    <input type="checkbox">
                </div>
                <h3 class="stock">In stock</h3>
            </div>
        </div>
        <div class="pic-sec">
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Pumpkin Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-1.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Bundt Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-2.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Caramel Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-3.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Banana Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-4.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Chocolate Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-5.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Coffee Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-6.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Butterscotch Bliss Cake</p>
                </div>
            </div>
            <div>
                <div class="detail">
                    <img src="{% static 'media/Rectangle 6-7.png'%}" alt="">
                </div>
                <div>
                    <h1 class="cake-price">₹ 540</h1>
                    <p class="cake-nme">Chocolate Fudge Cake</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="flex container ft-sec">
        <div class="flw-us">
            <div>
                <h1 class="flw">Follow us on</h1>
            </div>
            <div class="flw-cn">
                <a href="#"><img src="{% static 'media/Vector.png'%}" alt="" ></a>
                <a href="#"><img src="{% static 'media/fb.png'%}" alt=""></a>
            </div>
        </div>
        <div class="ft-rm1">
            <div>
                <h1 class="ft-h">Sugar Bubble</h1>
            </div>
            <div class="ft-p">
                <p class="ft-p1">Baking your dreams <br> come true.</p>
            </div>
            <div class="icon-2">
                <a href="#"><img src="{% static 'media/Vector.png'%}" alt="" ></a>
                <a href="#"><img src="{% static 'media/fb.png'%}" alt=""></a>
            </div>
        </div>
        <div class="ft-2">
            <div>
                <h3 class="in-touch">GET IN TOUCH</h3>
            </div>
            <div>
                <p class="fd-bckp">Question or feedback ? We’d love to here from you</p>
            </div>
            <div class="email-div flex">
                <input class="email-inp" type="text" placeholder="Email">
                <div>
                    <img src="./media/plane.png" alt="">
                </div>
            </div>
        </div>
        <div class="ft-3">
            <div>
                <h3 class="ft-3h">Quick Links</h3>
            </div>
            <div class="ft-3bar">
                <ul>
                    <li><a href="#">MENU</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'cake.js'%}"></script>
</body>

</html>